body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    transition: background-color 5s linear;
    width: 100vw;
}

section h1 {
    opacity: 0;
    transition: opacity 5s linear;
}

section:hover h1 {
    opacity: 1;
}

section p {
    visibility: hidden;
} 

section:hover {
    background-color: black;
    color: #fff;
}

section:hover p {
    visibility: visible;
}